

body
	margin 0
	font-family Raleway,arial,sans-serif
	
ul 
	list-style none
a
	text-decoration none

.header-top
	display block
	background #eaeaea
	hight 49px
	padding-bottom 5px
	/a 
		color #838383
		
	section
		display inline-block
		/li
			display inline-block
	

.header-top-left
	margin-left 80px
	font-size 13px

	li
		margin-left 5px
		span
			margin-left 5px	
		
			
		.icon-drawer
			padding 8px
			transition background .7s
			border-radius 50%
			font-size 18px
		.icon-users
			padding 8px
			transition background .7s
			border-radius 50%
			font-size 18px
	

.header-top-right
	float right
	margin-right 100px
	li
		margin-left 10px
		
		span
			margin-left 5px
			font-size 13px
			
		.date-hrs
			font-weight 900
		.icon-phone
			padding 8px
			border-radius 50%
			background #fff
			color #f37800
			transition background .7s
			transition color .7s
			font-size 18px

		.icon-bubble
			padding 8px
			border-radius 50%
			background #fff
			color #f37800
			transition background .7s
			transition color .7s
			font-size 18px
		.icon-clock
			padding 8px
			border-radius 50%
			background #fff
			color #f37800
			transition background .7s
			transition color .7s
			font-size 18px
		.icon-search
			padding 8px
			border-radius 50%
			background #f37800
			color #fff
			border 1px solid
			border-color #f37800
			transition background .7s
			transition color .7s
			font-size 18px
		.icon-facebook
			border 1px solid
			border-radius 50%
			padding 5px
			font-size 20px
			transition background .7s
			transition color .7s
			font-size 18px
		.icon-twitter
			border 1px solid
			border-radius 50%
			padding 5px
			font-size 20px
			transition background .7s
			transition color .7s
			font-size 18px
		.icon-google
			border 1px solid
			border-radius 50%
			padding 5px
			font-size 20px
			transition background .7s
			transition color .7s
			font-size 18px
		.icon-youtube
			border 1px solid
			border-radius 50%
			padding 5px
			font-size 20px
			transition background .7s
			transition color .7s
			font-size 18px
			

		
				
			
	.social-icon
		margin 0
		




.header-bottom
	display inline-block
	width 100%
	height 131px
	
	section
		display inline-block
	
.header-bottom-left
	margin 40px 0 20px 90px
	

.header-bottom-right
	float right
	margin 30px 100px 0 0
	
	li
		padding 15px 15px
		font-size 17px
		color #D8D8D8
		
		
		a
			font-family sans-serif
			color #585858
			font-size 16px
			font-weight 100
			line-height 1.25
			
			
			
	.border-nav
		border-right 1px solid
		



.logo-image
	width 269px
	hight 48px



.image-slide
	img
		width 100%
		height: 377px
		display block
	.slide-foot
		width 100%
		height 91px
		background #eaeaea
		display inline-block
		
		h2 
			margin 30px 0 0 100px
			font-size 30px
			color #585858
			line-height 1.2
			font-family 'Open Sans Condensed', sans-serif
			
		section
			float right
			margin-right 50px
			margin-top -30px
			
			a 
				
				margin-left 15px
				font-family 'Open Sans Condensed', sans-serif
				margin 10px 20px
				
				.icon-facebook
					border-radius 50%
					border 1px solid
					border-color #f37800
					margin-left 10px
					padding 10px
					transition color .7s
					
					
				
				

			

.services-section
	height 469px
	display block
	text-align center
	margin-bottom 100px
	font-family 'Open Sans Condensed', sans-serif
	h2
		font-size 30px
	p
		font-size 20px
	
	li
		display inline-block
		margin 30px 30px 0 0
		img
			width 300px
			hight 200px
		h3
			text-align left
			color #f37800
			position absolute
			border-top 5px solid
			border-color #f37800
			padding 30px
			padding-left 0
			margin-top -9px
			margin-left 10px
			font-size 19px
		p
			margin-top 60px
			width 290px
			text-align left
			font-size 15px
			


.projects-title
	display block
	background #333
	opacity .9
	font-family 'Open Sans Condensed', sans-serif
	font-size 16px
	h2
		color #fff
		padding 30px
		text-align center	
.categories
	display block
	text-align center
	margin-top -20px
	padding-bottom 20px
	padding-top 20px
	background #333
	opacity 1
	font-family 'Open Sans Condensed', sans-serif
	font-size 23px
	
	span
		color #eaeaea
		margin-left 20px
		padding-bottom 10px
		margin-right 20px
		font-size 20px
	span:hover
		border-bottom 5px solid
		border-color #f37800
			
			
		
.projects-images
	height 212px
	background #333
	margin-top -16px
	display block
	border-bottom 5px solid
	border-color #f37800
	ul
		text-align center
		li
			margin-left -5px	
			img
				width 212px
				height 212px
			span
				color #eaeaea
				position absolute
				font-size 30px
				margin-left -125px
				margin-top 100px
				opacity .4
			
			img:hover
				opacity .5
			


.clients-section
	margin-top 100px

	h3
		text-align left
		color #f37800
		padding-bottom 15px
		border-bottom 3px solid
		border-color #f37800
		font-size 23px
		margin-bottom 50px
	p
		text-align left
	
	
	.clients-testi
		margin-left 100px
		text-align center
		float left
		width 590px
		height 590px
		border-bottom 1px solid
		
		ul
			text-align left
			li
				margin-bottom 20px
				h4
					font-size 15px
					color #f37800

	.clients-clients
		margin-right 100px
		text-align center
		float right
		width 590px
		height 590px
		border-bottom 1px solid
		img
			width 512px
			height 312px



.us-section
	
	margin-top 100px
	font-family 'Open Sans Condensed', sans-serif
	font-size 25px
	

	
	h3
		text-align right
		
	p
		text-align left
		font-size 15px
	
		
	.why-us
		margin-left 100px
		text-align center
		float left
		width 590px
		height 590px

		img
			text-align left
			margin-top 50px
			width 500px
			height 300px
			margin-right 40px

	.new-events
		margin-right 100px
		margin-bottom 100px
		text-align center
		float right
		width 590px
		height 590px
		
		ul
			text-align left
			margin-top 60px
			margin-left 30px
			li
				margin-bottom 40px
				display block
				
				span
					font-size 40px
					color #f37800
				p
					color #000




.footer-top
	position relative
	display block
	font-size 14px
	font-family 'Open Sans Condensed', sans-serif
	background #eaeaea
	display inline-block
	width 100%
	text-align center
	h4
		font-size 17px
		font-weight 900
		border-bottom 1px solid
		border-color #A4A4A4
		padding-bottom 12px
		span
			border-bottom 4px solid
			border-color #f37800
			padding-bottom 12px
	.footer-top-info
		text-align center
		margin-left 120px
		section
			display block
		
		.info-us
			text-align left
			float left
			padding 30px 20px
			width 260px
			height 180px
			margin 0
			img
				width 202px
				height 36px
			p
				text-align left
		.info-navigation
			text-align left
			float left
			padding 30px 20px
			width 260px
			height 180px
			margin 0
			
			ul
				display block
				li
					display inherit
					margin-bottom 10px

		.info-office
			text-align left
			float left
			padding 30px 20px
			width 260px
			height 180px
			margin 0
			section
				margin-bottom 10px
				span
					margin-right 10px
				.icon-facebook
					background #f37800
					border-radius 50%
					color #fff
					padding 5px
				
		.info-projects
			text-align left
			float left
			padding 30px 20px
			width 260px
			height 180px
			margin 0
			ul
				display block
				li
					display inherit
					margin-bottom 15px

.footer-bottom
	margin-top -5px
	background #333
	height 58px
	width 100%
	font-family 'Open Sans Condensed', sans-serif
	font-size 14px
	.footer-bottom-left
		margin-top 20px
		color #fff
		float left
		margin-left 50px
	.footer-bottom-right
		margin-top 20px
		float right
		margin-right 50px
		a
			color #fff
			padding 10px
		




a:hover
	.icon-phone
		background #f37800
		border-radius 50px
		color #fff
		transition background 1s

	.icon-bubble
		background #f37800
		border-radius 50px
		color #fff
		transition background 1s
	.icon-clock
		background #f37800
		border-radius 50px
		color #fff
		transition background 1s
	.icon-search
		background #fff
		color #f37800
		transition background .5s
	.icon-facebook
		background #f37800
		color #fff
		border-color #f37800
		transition background .5s
	.icon-twitter
		background #f37800
		color #fff
		border-color #f37800
		transition background .5s
	.icon-google
		background #f37800
		color #fff
		border-color #f37800
		transition background .5s
	.icon-youtube
		background #f37800
		color #fff
		border-color #f37800
		transition background .5s
	.icon-drawer
		background #f37800
		border-radius 50px
		color #fff
		transition background 1s
	.icon-users
		background #f37800
		border-radius 50px
		color #fff
		transition background 1s


