rojo = #E60000
gris = #eaeaea
rojoC = #F42F36

body
	margin 0
	font-family Raleway,arial,sans-serif
	

a
	text-decoration none

.header-top
	display block
	background gris
	height 49px
	padding-bottom 5px
	a 
		color #838383
		
	section
		display inline-block
		li
			display inline-block
	

.header-top-left
	margin-left 80px
	font-size 13px

	li
		margin-left 5px
		span
			margin-left 5px	
		
			
		.icon-users
			padding 8px
			transition background 1s
			border-radius 50%
			font-size 18px

.header-top-right
	float right
	margin-right 2%
	li
		margin-left 10px
		
		span
			margin-left 5px
			font-size 13px
			
		.date-hrs
			font-weight 900
		.icon-phone, .icon-bubble, .icon-clock
			padding 8px
			border-radius 50%
			background #fff
			color rojo
			transition background 1s
			transition color 1s
			font-size 18px
		.icon-facebook
			margin-left 10%
			border 1px solid
			border-radius 50%
			padding 5px
			font-size 20px
			transition background 1s
			transition color 1s
			font-size 18px	
			
.header-bottom
	display inline-block
	width 100%
	height 131px
	
	section
		display inline-block
	
.header-bottom-left
	margin 40px 0 20px 90px
	

.header-bottom-right
	float right
	margin 30px 100px 0 0
	
	li
		padding 15px 15px
		font-size 17px
		color #D8D8D8
		display inline-block		
		a
			font-family sans-serif
			color #585858
			font-size 16px
			font-weight 100
			line-height 1.25
	.border-nav
		border-right 1px solid
	li:hover
		border-bottom 4px solid rojo
		



.logo-image
	width 269px
	height 48px


		
.slide-section
	.slide-section-image
		width 100%
		.bxslider
			height 400px
			li
				img
					width 100%
					height 500px
				.section-image-info
					position absolute
					margin-top -25%
					margin-left 10%
					width 30%
					background rojo
					padding 2%
					box-shadow 6px 6px 3px #2E2E2E
					opacity .9
					height 40%
					
					h3
						padding 2%
						color white
						opacity 1
						border-bottom 6px solid rojoC
						width 60%
						font-size 28px
						font-weight 300
						
						margin 0
						margin-bottom -16px
					p
						width 70%
						text-align left
						opacity 1
						color white
						font-size 14px
						font-weight 300
						border-top 1px solid gris
						padding-top 20px
					ul
						margin 10%
						margin-left 0
						li
							display inline
							margin 10%
							border-radius 50%
							padding 5%
							background rojoC
							span
								color white

				.section-image-info:hover
					li
						span
							font-size 17px
				
						


	.slide-foot
		width 100%
		height 91px
		background gris
		display inline-block
		
		h2 
			margin 30px 0 0 100px
			font-size 30px
			color #585858
			line-height 1.2
			font-family 'Open Sans Condensed', sans-serif
			
		section
			float right
			margin-right 50px
			margin-top -30px
			
			a 
				
				margin-left 15px
				font-family 'Open Sans Condensed', sans-serif
				margin 10px 20px
				color #585858
				
				.icon-facebook
					color white
					border-radius 50%
					border 1px solid
					border-color rojo
					background rojo
					margin-left 10px
					padding 10px
					transition color 1s
					
					
				
				

			

.servicios-section
	height 100%
	display block
	text-align center
	
	font-family 'Open Sans Condensed', sans-serif
	h2
		font-size 30px
	
	p
		font-size 20px
		
	
	ul
		
		.servicios-item
			display inline-block
			width 30%
			section
				text-align left
				img
					width 90%
					height 90%
				h3
					font-size 30px
					border-top 4px solid rojo
					width 80%
					margin-top -1.2%
				section 
					margin-left 2%
					
							
							
								
						
	

.proyectos-title
	display block
	background #333
	opacity .9
	font-family 'Open Sans Condensed', sans-serif
	font-size 16px
	h2
		color #fff
		padding 30px
		text-align center	

		
.projectos-imagenes
	height 212px
	background #333
	margin-top -20px
	display block
	border-bottom 5px solid
	border-color rojo
	ma
	
	
	ul
		text-align center
		.projectos-imagenes-element
			margin-left -5px
			display inline
			visibility hidden
			opacity 0
			img
				width 15%
				height 212px
			span
				color gris
				position absolute
				font-size 30px
				margin-left -8%
				margin-top 100px
				opacity .4
			
			img:hover
				opacity .5

.trabajamos-section
	margin-top 100px
	text-align center

	h3
		text-align left
		color rojo
		padding-bottom 15px
		border-bottom 3px solid
		border-color rojo
		font-size 23px
		margin-bottom 50px
	p
		text-align left
	
	
	.trabajamos-info
		margin-left 0
		text-align center
		//float left
		width 60%
		height 100%
		visibility hidden
		opacity 0
		
		.lista-como-trabajamos
			
			li
				margin-bottom 20px
				background #FA5858
				width 25%
				display inline-block
				margin-left 2%
				vertical-align middle
				img
					width 71px
					height 66px
					padding-top 10px
				p
					text-align center
					color white
					width 95%
					padding 5px
					height 80px
				
				
			.plus-li
				width 5%
				background none
				vertical-align middle

				span
					font-size 40px
					//color #6E6E6E
					color rojo
					

	.proveedores-info
		visibility hidden
		text-align center
		opacity 0
		width 60%
		height 100%
		margin-left 20%
		margin-bottom 50px
		ul
			list-style none
			margin-top 100px
			display: block;
			
			li
				display inline-block
				vertical-align top
				width 30%
				height 100%
				text-align center
				text-align center
				img
					margin 50px
			li:first-child
				border-bottom 2px solid gris
				border-right 2px solid gris
.footer-top
	position relative
	display block
	font-size 14px
	font-family 'Open Sans Condensed', sans-serif
	background gris
	display inline-block
	width 100%
	text-align right
	h4
		font-size 17px
		font-weight 900
		border-bottom 1px solid
		border-color #A4A4A4
		padding-bottom 12px
		span
			border-bottom 4px solid
			border-color rojo
			padding-bottom 12px
	.footer-top-info
		text-align center
		margin-left 120px
		section
			display block
			
		
		.info-us
			text-align left
			float left
			padding 30px 20px
			width 20%
			height 180px
			margin-right 7%
			img
				width 202px
				height 36px
			p
				text-align left
		.info-navigation
			text-align left
			float left
			padding 30px 20px
			width 20%
			height 180px
			margin-right 7%
			
			ul
				display block
				li
					display inherit
					margin-bottom 10px

		.info-office
			text-align left
			float left
			padding 30px 20px
			width 20%
			height 180px
			margin-right 7%
			section
				margin-bottom 10px
				span
					margin-right 10px
				.icon-office
					background rojo
					border-radius 50%
					color #fff
					padding 5px
				
		

.footer-bottom
	margin-top -5px
	background #333
	height 58px
	width 100%
	font-family 'Open Sans Condensed', sans-serif
	font-size 14px
	.footer-bottom-left
		margin-top 20px
		color #fff
		float left
		margin-left 50px
	.footer-bottom-right
		margin-top 20px
		float right
		margin-right 50px
		a
			color #fff
			padding 10px
		




a:hover
	.icon-phone, .icon-bubble, .icon-clock, .icon-users, .icon-drawer
		background rojo
		border-radius 50px
		color #fff
		transition background 1s


	.icon-search
		background #fff
		color rojo
		transition background .8s
	.icon-facebook, .icon-twitter, .icon-google, .icon-youtube
		background rojo
		color #fff
		border-color rojo
		transition background .8s

.ir-arriba
	display none
	padding 20px
	border-radius 50%
	background rojo
	font-size 20px
	color #fff
	cursor pointer
	position fixed
	bottom 70px
	right 20px
