doctype html
html
  head
    title

    meta(charset='utf-8')

    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    link(rel='stylesheet', type='text/css', href='css/style.css')

    link(rel='stylesheet', type='text/css', href='css/icon-style.css')

    link(rel='stylesheet', type='text/css', href='css/normalize.css')

    link(href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300', rel='stylesheet', type='text/css')

    link(rel="stylesheet", href="css/jquery.bxslider.css")

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')

    script(src='http://code.jquery.com/ui/1.9.2/jquery-ui.js')

    script(type='text/javascript', src='scripts/script.js')
    script(type='text/javascript', src='scripts/jquery.bxslider.min.js')
  body
    header
      section.header-top
        section.header-top-left
          ul
            li
              a(href='')
                span.icon-drawer.icons-header-top-left
            
                span Careers
        
            li
              a(href='')
                span.icon-users.icons-header-top-left
            
                span Subcontractors
    
        section.header-top-right
          ul
            li
              a(href='')
                span.icon-phone.icons-header-top-right
            
                span 01(55) 5312 6216
        
            li
              a(href='')
                span.icon-bubble.icons-header-top-right
            
                span contacto@quimec.com.mx 
        
            li
              a(href='')
                span.icon-clock.icons-header-top-right
            
                span.date-hrs Mon - Sat 7am-5pm
        
            li.social-icon
              a(href='')
                span.icon-facebook.icons-header-top-social
        
            li.social-icon
              a(href='')
                span.icon-twitter.icons-header-top-social
        
            li.social-icon
              a(href='')
                span.icon-google.icons-header-top-social
        
            li.social-icon
              a(href='')
                span.icon-youtube.icons-header-top-social
        
            li.social-icon
              a(href='')
                span.icon-search.icons-header-top-right
  
      section.header-bottom
        section.header-bottom-left
          img.logo-image(src='img/logo-quimec.jpg')
    
        section.header-bottom-right
          ul
            li.border-nav
              a(href='') Pages
        
            li.border-nav
              a(href='') Get quote &amp; book
        
            li.border-nav
              a(href='') Projects
        
            li
              a(href='') Blog

   
    section.slide-section
      section.slide-section-image
        ul.bxslider
          li
            img(src="img/Imagen-slide1.jpg", alt="")
            section.section-image-info
              h3 Acerca de nosotros 
              p  Somos una empresa mexicana dedicada a la venta y aplicación de productos terminados y químicos para la industria de la construcción
              ul
                li
                  a(href="")
                    span.icon-drawer
                li
                  a(href="")
                    span.icon-users
                li
                  a(href="")
                    span.icon-facebook

          li
            img(src="img/Imagen-slide2.jpg", alt="")
            section.section-image-info
              h3 Proyectos
              p  Nuestra trayectoria nos respalda. Da clic para conocer más de nuestro trabajo
              ul
                li
                  a(href="")
                    span.icon-drawer
                li
                  a(href="")
                    span.icon-google
                li
                   a(href="")
                    span.icon-clock
          li          
            img(src="img/Imagen-slide3.jpg", alt="")
            section.section-image-info
              h3 Contáctanos
              p  ¡Solicita asesoría de un experto ahora! Conoce nuestros medios de contacto!
              ul
                li
                  a(href="")
                    span.icon-bubble
                li
                  a(href="")
                    span.icon-twitter
                li
                  a(href="")
                    span.icon-phone

      section.slide-foot
        h2 Are you interested in an estimate?
    
        section
          a(href='')
            span GET A QUOTE
        
            span.icon-facebook
      
          a(href='')
            span OUR PORTAFOLIO
        
            span.icon-facebook

    section.servicios-section
      h2 Servicios
  
      p(class="services-info") Somos una empresa mexicana dedicada a la venta y aplicación de productos terminados y químicos para la industria de la construcción.
      ul
        li.servicios-item
          section
            img(src='img/imagen2.png')
        
            h3 Recubrimientos
        
            section
              p
                | Donec ultrices sagittis dignissim. Cras vitae magna lobortis.Donec ultrices sagittis dignissim. Cras vitae magna lobortis.Donec ultrices sagittis dignissim. Cras vitae magna lobortis.Donec ultrices sagittis dignissim. Cras vitae magna lobortis.
    
        li.servicios-item
          section
            img(src='img/imagen3.png')
        
            h3 Refuerzo de estructuras
        
            section
              p
                | Donec ultrices sagittis dignissim. Cras vitae magna lobortis.Donec ultrices sagittis dignissim. Cras vitae magna lobortis.Donec ultrices sagittis dignissim. Cras vitae magna lobortisDonec ultrices sagittis dignissim. Cras vitae magna lobortis..
    
        li.servicios-item
          section
            img(src='img/imagen2.png')
        
            h3 Impearmeabilización
        
            section
              p
                | Donec ultrices sagittis dignissim. Cras vitae magna lobortis.Donec ultrices sagittis dignissim. Cras vitae magna lobortis.Donec ultrices sagittis dignissim. Cras vitae magna lobortis.Donec ultrices sagittis dignissim. Cras vitae magna lobortis.

    section.proyectos-title
      h2 Proyectos


    section.proyectos-categorias
      span Caregory filter:
  
      a(href="")
        span All
      a(href="")
        span Painting
  
      a(href="")
        span Reconstruction
  
      a(href="")
        span Repair
  
      a(href="")
        span Residential
  
      a(href="")
        span Tiling


    section.projectos-imagenes
      ul
        li
          img(src='img/imagen2.png', alt='')
          span.icon-search
    
        li
          img(src='img/imagen3.png', alt='')
          span.icon-search
    
        li
          img(src='img/imagen2.png', alt='')
          span.icon-search
    
        li
          img(src='img/imagen3.png', alt='')
          span.icon-search
    
        li
          img(src='img/imagen2.png', alt='')
          span.icon-search
    
        li
          img(src='img/imagen3.png', alt='')
          span.icon-search

    section.trabajamos-section
      section.trabajamos-info

        h3 ¿Cómo trabajamos?
    
        p
          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliq
    
       
        ul
          li
            img(src="img/quienes-1.svg", alt="")
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit.

          li(class="plus-li")
            span(class="icon-plus")
          li
            img(src="img/quienes-2.svg", alt="")
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit.

          
          li
            img(src="img/quienes-3.svg", alt="")
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
           li(class="plus-li")
            span(class="icon-plus")
          li
            img(src="img/quienes-4.svg", alt="")
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
         
          li
            img(src="img/quienes-5.svg", alt="")
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit.

          li(class="plus-li") 
            span(class="icon-plus")
          li
            img(src="img/quienes-6.svg", alt="")
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit.

      section.proveedores-info
        h3 Proveedores
    
        p Somos aplicadores certificados de las siguientes marcas:
          
        img(src='img/clientes.png')


    footer
      section.footer-top
        section.footer-top-info
          section.info-us
            h4
              span Dirección
        
            section
              img(src='img/logo-quimec.jpg')
        
            section
              p Av. De los Arcos No. 46 Col. Ampliación de los Remedios, Naucalpan, Edo. Mex. C.P. 53400

          section.info-navigation
            h4
              span NAVIGATION
        
            section
              ul
                li Home
            
                li Contact
            
                li Blog
            
                li Pages
      
          section.info-office
            h4
              span OUR OFFICE
        
            section
              span.icon-facebook.icon-office
          
              span México
        
            section
              span.icon-phone.icon-office
          
              span  01(55) 5312 6216 
        
            section
              span.icon-bubble.icon-office
          
              span contacto@quimec.com.mx 
        
            section
              span.icon-clock.icon-office
          
              span MON-SAT 7-5
      
          
      section.footer-bottom
        section.footer-bottom-left
          span &copy; Copyright BoldThemes 2015
    
        section.footer-bottom-right
          a(href='') Get quote &amp; book
      
          a(href='') Contact

    span.icon-facebook.ir-arriba
