


body
	margin 0

a
	text-decoration none
	
.header-top
	background #EAEAEA
	height 49px
	
.top-element-span
	a
		color #838383
		font-family Raleway, arial, sans-serif
		line-height 32px
		font-size 15px

.header-top-right
	float right
	margin 10px 20% 0 0
	
	span
		margin 0 20px 0 20px
	
	img
		width 25px
		height 25px
		border 1px solid #838383
		border-radius 50%
		color #838383

.header-top-left
	float left
	margin 10px 0 0 20%
	
	span
		margin 10px