doctype html
html
  head
    title

    meta(charset='utf-8')

    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    link(rel='stylesheet', type='text/css', href='../css/style.css')

    link(rel='stylesheet', type='text/css', href='../css/icon-style.css')

    link(rel='stylesheet', type='text/css', href='../css/normalize.css')

    link(href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300', rel='stylesheet', type='text/css')

    link(rel="stylesheet", href="../css/jquery.bxslider.css")

    link(rel="stylesheet", href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css")

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
    script(src='http://code.jquery.com/jquery-1.10.2.js')
    script(src='http://code.jquery.com/ui/1.11.4/jquery-ui.js')


    script(type='text/javascript', src='../scripts/script.js')
    script(type='text/javascript', src='../scripts/jquery.bxslider.min.js')
    script(type='text/javascript', src='../scripts/toggle-script.js')
    script(type='text/javascript', src='http://maps.googleapis.com/maps/api/js')
    script(type='text/javascript', src='../scripts/mapa-ubicacion.js')




  body
    header
      section.header-top
        section.header-top-left
          ul
            
        
            li
              a(href='')
                span.icon-userss.icons-header-top-left
            
                span Proveedores
    
        section.header-top-right
          ul
            li
              a(href='')
                span.icon-phone.icons-header-top-right
            
                span 01(55) 5312 6216
        
            li
              a(href='')
                span.icon-bubble.icons-header-top-right
            
                span contacto@quimec.com.mx 
        
            li
              a(href='')
                span.icon-clock.icons-header-top-right
            
                span.date-hrs Lun - Sab 9am-6pm
        
            li.social-icon
              a(href='')
                span.icon-facebook.icons-header-top-social
        
  
      section.header-bottom
        section.header-bottom-left
          a(href="../index.html")
            img.logo-image(src='../img/logo-quimec.jpg')
    
        section.header-bottom-right
          ul
            li.border-nav
              a(href='quienes-somos.html') ¿Quiénes Somos?
        
            li.border-nav
              a(href='servicios.html') Servicios

            li.border-nav
              a(href='proyectos.html') Proyectos
        
            li.border-nav
              a(href='') Contacto
        
    section.slide-section
      section.slide-section-image
        img(src="../img/proyectos-slide.jpg", alt="")
        section.section-image-info
          h3 Contáctanos
          p ¡Solicita asesoría de un experto ahora! Conoce nuestros medios de contacto!
          ul
            li
              a(href="")
                span.icon-bubble
            li
              a(href="")
                span.icon-location
            li
              a(href="")
                span.icon-phone
    section.info-contacto
      section.map-contenedor
        section(id="map")
      section.datos-contacto
        h2 Contáctanos
        p Lorem ipsum dolor sit amet.
        ul
          li
            section.icon-section
              span.icon-location
            section.datos-contacto-elemento
              h5 Dirección
              span Av. De los Arcos No. 46 Col. Ampliación de los Remedios, Naucalpan, Edo. Mex. C.P. 53400
          li
            section.icon-section
              span.icon-phone
            section.datos-contacto-elemento
              h5 Teléfono
              span 01(55) 5312 6216
          li
            section.icon-section
              span.icon-bubble
            section.datos-contacto-elemento
              h5 Correo
              span contacto@quimec.com.mx
          li
            section.icon-section
              span.icon-clock
            section.datos-contacto-elemento
              h5 Horario
              span Lun - Sab 9am-6pm
      section.mail-section
        h3 Envianos un Mail
        form
          table
            tr
              td.td-label
                label Nombre
            tr
              td
                input(type="text", maxlenght="50", size="25")
            tr
              td.td-label
                label Dirección de E-mail 
            tr
              td
                input(type="text", name="email" maxlength="80", size="35")
            tr
              td.td-label
                label Numero de teléfono
            
            tr
              td
                input(type="text", name="telephone". maxlength="25", size="15")
            tr
              td.td-label
                label Comentarios
            tr
              td.text-area
                textarea(name="comments", maxlength="500", cols="30", rows="5")
          button Enviar
      
    footer
      section.footer-top
        section.footer-top-info
          section.info-us
            h4
              span Dirección
        
            section
              img(src='../img/logo-quimec.jpg')
        
            section
              p Av. De los Arcos No. 46 Col. Ampliación de los Remedios, Naucalpan, Edo. Mex. C.P. 53400

          section.info-navigation
            h4
              span NAVIGATION
        
            section
              ul
                li Home
            
                li Contact
            
                li Blog
            
                li Pages
      
          section.info-office
            h4
              span OUR OFFICE
        
            section
              span.icon-facebook.icon-office
          
              span México
        
            section
              span.icon-phone.icon-office
          
              span  01(55) 5312 6216 
        
            section
              span.icon-bubble.icon-office
          
              span contacto@quimec.com.mx 
        
            section
              span.icon-clock.icon-office
          
              span MON-SAT 7-5
      
          
      section.footer-bottom
        section.footer-bottom-left
          span &copy; Copyright BoldThemes 2015
    
        section.footer-bottom-right
          a(href='') Get quote &amp; book
      
          a(href='') Contact

    span.icon-arrow-up.ir-arriba
