doctype html
html
  head
    title

    meta(charset='utf-8')

    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    link(rel='stylesheet', type='text/css', href='../css/style.css')

    link(rel='stylesheet', type='text/css', href='../css/icon-style.css')

    link(rel='stylesheet', type='text/css', href='../css/normalize.css')

    link(href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300', rel='stylesheet', type='text/css')

    link(rel="stylesheet", href="../css/jquery.bxslider.css")

    link(rel="stylesheet", href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css")

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
    script(src='http://code.jquery.com/jquery-1.10.2.js')
    script(src='http://code.jquery.com/ui/1.11.4/jquery-ui.js')


    script(type='text/javascript', src='../scripts/script.js')
    script(type='text/javascript', src='../scripts/jquery.bxslider.min.js')
    script(type='text/javascript', src='../scripts/toggle-script.js')


  body
    header
      section.header-top
        section.header-top-left
          ul
            
        
            li
              a(href='')
                span.icon-userss.icons-header-top-left
            
                span Proveedores
    
        section.header-top-right
          ul
            li
              a(href='')
                span.icon-phone.icons-header-top-right
            
                span 01(55) 5312 6216
        
            li
              a(href='')
                span.icon-bubble.icons-header-top-right
            
                span contacto@quimec.com.mx 
        
            li
              a(href='')
                span.icon-clock.icons-header-top-right
            
                span.date-hrs Lun - Sab 9am-6pm
        
            li.social-icon
              a(href='')
                span.icon-facebook.icons-header-top-social
        
  
      section.header-bottom
        section.header-bottom-left
          a(href="../index.html")
            img.logo-image(src='../img/logo-quimec.jpg')
    
        section.header-bottom-right
          ul
            li.border-nav
              a(href='') ¿Quiénes Somos?
        
            li.border-nav
              a(href='') Proyectos &amp; book
        
            li.border-nav
              a(href='') Contacto
        
    section.slide-section
      section.slide-section-image
        ul.bxslider
          li
            img(src="../img/nosotros-slide.jpg", alt="")
            section.section-image-info
              h3 Acerca de nosotros 
              p  Somos una empresa mexicana dedicada a la venta y aplicación de productos terminados y químicos para la industria de la construcción
              ul
                li
                  a(href="")
                    span.icon-drawer
                li
                  a(href="")
                    span.icon-users
                li
                  a(href="")
                    span.icon-facebook

          li
            img(src="../img/revolucion-monumento-slide.jpg", alt="")
            section.section-image-info
              h3 Proyectos
              p  Nuestra trayectoria nos respalda. Da clic para conocer más de nuestro trabajo
              ul
                li
                  a(href="")
                    span.icon-drawer
                li
                  a(href="")
                    span.icon-phone
                li
                   a(href="")
                    span.icon-clock
          li          
            img(src="../img/proyectos-slide.jpg", alt="")
            section.section-image-info
              h3 Contáctanos
              p  ¡Solicita asesoría de un experto ahora! Conoce nuestros medios de contacto!
              ul
                li
                  a(href="")
                    span.icon-bubble
                li
                  a(href="")
                    span.icon-location
                li
                  a(href="")
                    span.icon-phone
    section.info-quienes-somos
      section.documentos-PDF
        h2 CV de Quimec
        div 
          a(href="../PDF.jpg.zip") CV Quimec PDF
          span.icon-drawer
    section.clientes-quimec
      h2 Clientes
      ul.slider-clientes
        li
          img(src="../img/sika-proveedor.png", alt="")
        li
          img(src="../img/sika-proveedor.png", alt="")
        li
          img(src="../img/sika-proveedor.png", alt="")
        li
          img(src="../img/sika-proveedor.png", alt="")
        li
          img(src="../img/sika-proveedor.png", alt="")
        li
          img(src="../img/sika-proveedor.png", alt="")
        li
          img(src="../img/sika-proveedor.png", alt="")
        li
          img(src="../img/sika-proveedor.png", alt="")
        li
          img(src="../img/sika-proveedor.png", alt="")
    section.mejor-opcion
      h2 Somos tu mejor opción
      span  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, ad.
      ul
        li
          span.icon-clock
          span Trabajos a tiempo
          p  Nuestro equipo realizará sus proyectos en tiempo y forma de acuerdo a su presupuesto. Puede estar seguro de que nuestra empresa lo hará realidad
        li
          span.icon-phone
          span Siempre disponibles
          p  Estamos a su disposición en el momento que nos necesite. Póngase en contacto con nosotros para solicitar una cotización sobre cualquier proyecto.
        li
          span.icon-users
          span Profesionalismo
          p  Profesionalismo en nuestro trabajo. Siempre puede contar con Quimec. Contamos con un equipo de profesionales dispuestos a crear su proyecto.
      
      
    footer
      section.footer-top
        section.footer-top-info
          section.info-us
            h4
              span Dirección
        
            section
              img(src='../img/logo-quimec.jpg')
        
            section
              p Av. De los Arcos No. 46 Col. Ampliación de los Remedios, Naucalpan, Edo. Mex. C.P. 53400

          section.info-navigation
            h4
              span NAVIGATION
        
            section
              ul
                li Home
            
                li Contact
            
                li Blog
            
                li Pages
      
          section.info-office
            h4
              span OUR OFFICE
        
            section
              span.icon-facebook.icon-office
          
              span México
        
            section
              span.icon-phone.icon-office
          
              span  01(55) 5312 6216 
        
            section
              span.icon-bubble.icon-office
          
              span contacto@quimec.com.mx 
        
            section
              span.icon-clock.icon-office
          
              span MON-SAT 7-5
      
          
      section.footer-bottom
        section.footer-bottom-left
          span &copy; Copyright BoldThemes 2015
    
        section.footer-bottom-right
          a(href='') Get quote &amp; book
      
          a(href='') Contact

    span.icon-arrow-up.ir-arriba
